<div class="container">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>
  <p>Enter likn for shortner</p>
  <%= form_for Link.new, url: '/link' do |f| %>
    <%= f.text_area :original_url  %>
    <%=  f.submit "Get short url" %>
  <% end %>
</div>